@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shopping Cart here ===> <a href="https://youtube.com">Click here</a>.</p>
</div>
